*{
    margin: 0;
    padding: 0;
}

.start{
    background-color: red;
    color: white;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 20px; 
} 

.start button{
    padding: 3px 110px;
    padding-bottom: 15px;
    font-size: 30px; 
    background-color: silver;
    color: black;
}

.start input{
   width: 600px;
   height: 50px;
} 

.ul ul{
    list-style-type: none;
}

.ul ul li{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 25px; 
} 

.ul ul li:nth-child(odd){
    background-color: silver;
}
.ul ul li:nth-child(even){
    background-color: grey; 
} 

.ul ul li.checked{
    text-decoration: line-through;
    background-color: #515753;
} 

.close{
    right: 0;
    top: 0;
    float: right;
    font-size: 30px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
} 

.close:hover{
    background-color: red;
} 